.container{
    background-color: #771F08;
    margin: 0;
    padding: 0;
}
.container-header{
    color: white;
    display: flex;
    justify-content: space-around;
    
}

.cart{
    background-color: #3F1200;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 1px solid none;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
}

.cart svg {
  font-size: 20px;
}

.cart-count{
    background: #771F08;
    padding:5px;
    border-radius: 10px;
    
}